
.sign-up {
  width: 450px;
  display: flex;
  flex-direction: column;
  background-color: rgba(168, 168, 168, 0.6);
  padding: 60px 68px 40px;
  border-radius: 4px;
 
  

  .title {
      margin-bottom: 18px;
      font-size: 32px;
      color: #ffffff;
      font-weight: bold;
      font-family: 'lato';
      letter-spacing: 0.5px;
  }
}

span {
  font-size: 1.25rem;
  font-family: 'lato';
  color: #ffffff;
  margin-bottom: 15px;
  line-height: 145%;
}

.error {
font-size: 15px;
color: #330000;
}
