.articles {
    display: block;
    color: #ffffff;
    padding: 0;
    margin: 0 15px;
    font-size: 16px;
    text-transform: uppercase;
    transition: color 650ms;
    text-decoration:none;
    font-weight: 500;
    font-family: 'lato';

    &:hover {
        display:inline-block;
        position: relative;
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        transform: scale(0);
        height: 0.8px;
        bottom: 40px;
        left: 0;
        background-color: white;
        transform-origin: bottom right;
        transition: transform 0.45s ease-out;
    }

    &:hover::before {
        transform: scale(1);
        transform-origin: bottom left;
    }

 



    @media screen and (max-width: 1000px) {
    display: block;
    color: #fff;
    padding: 0 1.6rem;
    font-size: 16px;
    text-transform: uppercase;
    transition: color 650ms;
    text-decoration:none;
    }
}